<div class="row" style="margin-left:0; margin-top:1.5em; padding-top:1em; border-top:solid 1px #ccc; padding-left:0; text-align:center">
    <p style="color:#666; font-size:0.9rem">Join world-class <strong>designer–developer teams</strong> in using Gemba:</p>
</div>
<div class="row">
    <div class="three columns"></div>
    <div class="three columns">
      <p style="text-align:center">
        <a href="https://pay.paddle.com/checkout/495337" class="bordered-button" style="width:100%; margin-top:0.5em; padding:0.5em 0.2em; line-height:1.5rem; background:#4ea3b5; border-radius:7px; color:white">Buy (39&nbsp;&euro;)</a>
      </p>
    </div>
    <div class="three columns">
      <p style="text-align:center">
        <a href="download.html" class="bordered-button" style="width:100%; margin-top:0.5em; padding:0.5em 0.2em; line-height:1.5rem; background:#ff983a; border-radius:7px;">Free Trial</a><br />
        <span style="font-size:0.8rem; color:#666"><a href="releases/0.9.8.html" style="color:black">Beta&nbsp;3</a> for OS&nbsp;X 10.10+</span>
      </p>
    </div>
    <div class="three columns"></div>
</div>
