	<footer role="contentinfo" class="site-footer">
		<div class="row">
			<div class="seven columns">
				<p style="color:white">&copy; 2014&#8211;2015 <a href="http://yangmeyer.de/" style="color:inherit">Yang Meyer</a> //
				  <span class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span>
				</p>
			</div>
			<div class="five columns">
				<p style="text-align:right">
					<a href="https://twitter.com/GembaApp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @GembaApp</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

					&nbsp;&nbsp;

					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.gemba.io" data-size="large" data-related="GembaApp">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</p>
			</div>
		</div>
	</footer>
	<!-- /END: Site Footer -->

	<!-- Grab Google CDN's jQuery, fall back to local if offline -->
	<!-- 2.0 for modern browsers, 1.10 for .oldie -->
	<script>
	var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
	if(!oldieCheck) {
	document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
	} else {
	document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
	}
	</script>
	<script>
	if(!window.jQuery) {
	if(!oldieCheck) {
	  document.write('<script src="http://blog.gemba.io/js/libs/jquery-2.0.2.min.js"><\/script>');
	} else {
	  document.write('<script src="http://blog.gemba.io/js/libs/jquery-1.10.1.min.js"><\/script>');
	}
	}
	</script>

	<!--
	Include gumby.js followed by UI modules followed by gumby.init.js
	Or concatenate and minify into a single file -->
	<script gumby-touch="js/libs" src="http://blog.gemba.io/js/libs/gumby.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.retina.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.fixed.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.skiplink.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.toggleswitch.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.checkbox.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.radiobtn.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.tabs.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.navbar.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.parallax.js"></script>
	<script src="http://blog.gemba.io/js/libs/ui/gumby.shuffle.js"></script>	
	<script src="http://blog.gemba.io/js/libs/ui/jquery.validation.js"></script>

	<!-- Must Come LAST (after gumby components)  -->
	<script src="http://blog.gemba.io/js/libs/gumby.init.js"></script>

	<!--
	gumby.min.js contains gumby.js, all UI modules and gumby.init.js
	<script src="http://blog.gemba.io/js/libs/gumby.min.js"></script> -->

	<!-- External Plugins Not Linked Directly to Gumby -->

	<script src="http://blog.gemba.io/js/plugins/jquery.bxslider.min.js"></script>
	<script src="http://blog.gemba.io/js/plugins/waypoints.min.js"></script>
	<script src="http://blog.gemba.io/js/plugins/placeholders.js"></script>

	<!-- Custom theme specific interaction -->
	<script src="http://blog.gemba.io/js/theme.js"></script>

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46201230-3', 'gemba.io');
	  ga('send', 'pageview');

	</script>
	
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
